* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;

}

body {
    text-align: center;
    background: linear-gradient(180deg,
            #0f0f0f 0%,
            #1a1a1a 50%,
            #000000 100%);
}

.container {
    max-width: 1100px;
    margin: 0 auto;

}
/* 

//////////////////////////////////

        navbar section

/////////////////////////////////

*/
a {
    position: relative;
    color: black;
    transition: 0.8s ease;
    padding-bottom: 4px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid rgb(41, 40, 40);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-nav {
    display: flex;
    gap: 20px;
}

.hamburger {
    display: none;

}

.sign-in,
.sign-up {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(241, 238, 238);
    transition: 0.1s ease-in-out;
}



.right-nav {
    margin-right: 40px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-list-items {
    color: rgb(226, 222, 222);
}

/* 

//////////////////////////////////

        Content section

/////////////////////////////////

*/


.title-content {
   
    font-size: 40px;
    position: relative;
    bottom: 20px;
    color: white;
    margin-bottom: 15px;

}

.content-sec {
    margin-top: 130px;
    padding: 50px;

    background-color: black;
    border-radius: 40px;
    transition: transform 0.6s ease;

}

.card-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    width: 25%;
    text-align: center;
    padding: 20px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(235, 233, 233);
    box-shadow: 5px 3px 4px black;
    transition: transform 0.8s ease;
}


.card-text {
    margin-top: 100px;
}

.card-btn {
    margin-top: auto;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 0.4s ease;
}


/* 

//////////////////////////////////

        About section

/////////////////////////////////

*/

.about-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 40px 20px 70px 20px;
    ;
    background-color: black;
    border-radius: 40px;
    transition: transform 0.6s ease;
}

.about-sec:hover {
    transform: scale(1.03);
}

.about-title {
    color: white;
    margin-bottom: 40px;
    font-size: 40px;
}


.about-info-sec {
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 70px;
    position: relative;
}

.about-us-location {
    width: 300px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    background-size: cover;
}

.info-list {
    list-style-position: outside;
}

.about-info {
    color: white;
    margin-bottom: 10px;
}


/* 

//////////////////////////////////

        Contact section

/////////////////////////////////

*/

.contact-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 40px 20px 70px 20px;
    background-color: black;
    border-radius: 40px;
    transition: transform 0.6s ease;
}



.contact-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.contact-title {
    color: white;
    margin-bottom: 40px;
    font-size: 40px;

}

.entry {
    display: flex;
    flex-direction: column;
    text-align: start;


}

.subject-inp {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    outline: none;
}

.email-inp {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    outline: none;
}

.report {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
}


/* 
//////////////////////////////

            hover section

//////////////////////////////
*/
.card:hover {
    transform: scale(1.08);
}

.contact-sec:hover,
.content-sec:hover,
.about-sec:hover {
    transform: scale(1.04);
}

.nav-list-items:hover {
    font-size: 27px;
}

.nav-list-items::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 2px;
    width: 0px;
    transition: 0.7s ease;
}

.nav-list-items:hover::after {
    width: 100%;
}

.card-btn:hover {
    transform: scale(1.1);
}

.sign-in:hover,
.sign-up:hover {
    box-shadow: 2px 1px 6px white;
    background-color: rgb(227, 225, 225);
}























@media (max-width: 768px) {

    .hamburger {
        display: block;
        font-size: 30px;
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 3000;
    }

    .right-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        width: 260px;
        height: 100vh;

        background: rgba(0, 0, 0, 0.96);
        backdrop-filter: blur(10px);

        transform: translateX(-100%);
        transition: transform .4s ease-in-out;
        z-index: 2000;
        display: flex;
        justify-content: center;

        align-items: flex-start;
        padding-top: 130px;
    }

    .nav-list-items {
        border-bottom: 2px solid white;

    }

    .right-nav.active {
        transform: translateX(0);
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        position: relative;
    }
}